*.hl7
*.vsix
.PAT
test
test.hl7
images/auto_tokenize_demo.gif
images/field_hover.png
images/filter_segment.png
images/syntax.png
images/tokenize_line.png
images/hl7-icon.kra
node_modules
modules/hl7-dictionary/.git
modules/hl7-dictionary/dist
modules/hl7-dictionary/gulpfile.js
modules/hl7-dictionary/README.md
modules/hl7-dictionary/LICENSE.md
modules/hl7-dictionary/.gitignore
modules/hl7-dictionary/.npmignore
.claude
.git
.gitmodules
.vscode
vsc-extension-quickstart.md
jsconfig.json
typings
